/* Estilos para el título */
.title-container {
    text-align: left;
    margin-bottom: 10px;
    margin-left: 150px; /* Ajusta este valor según sea necesario */
}

    .title-container h2 {
        font-size: 18px;
        margin: 0;
        display: inline-block;
    }

/* Otros estilos personalizados */
.container {
    margin-top: 20px;
}

.custom-button {
    background-color: #337ab7;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
